<html>
    <div>
        Bienvenido al graficador de sentimientos, ingrese un chat exportado desde Telegram en formato json
        <br>
        <br>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data" id="form1">
            <input type="file" name="file">
        </form>
        <button type="submit" form="form1" value="Submit">Submit</button>
    </div>
<footer>

    Si se preguntan si guardo esta información, aclaro que no tengo dinero para tanto storage.

</footer>
</html>